<!DOCTYPE html>
<html lang="en">
  <body>	
		<div class="container">
			<div class="text-center">
				<h2>My Size </h2>
				<br><br><br><br>

				<div class="container">		
		
				<div class="container">
		
		 <div class="mysize_btn" align="center">
		 	<div  class="row wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
 				  <div class="col-xs-6 col-md-3"><a href="/home/result_2"><img src="/assets/half_tshits_1.jpg" alt="반팔티셔츠" width="66" height="84" /></a>
                            <p>반팔티셔츠<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_3"><img src="/assets/ohmy_1.jpg" alt="민소매" width="66" height="84" /></a>
                            <p>민소매<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_4"><img src="/assets/long_tshirts_1.jpg" alt="긴팔티셔츠" width="66" height="84" /></a>
                            <p>긴팔티셔츠<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_5"><img src="/assets/shirts_1.jpg" alt="셔츠" width="66" height="84" /></a>
                            <p>셔츠<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_6"><img src="/assets/nirmaljumper_1.jpg" alt="일반점퍼" width="66" height="84" /></a>
                            <p>일반점퍼<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_7"><img src="/assets/heavyouter_1.jpg" alt="헤비아우터" width="66" height="84" /></a>
                            <p>헤비아우터<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_8"><img src="/assets/coat_1.jpg" alt="코트" width="66" height="84" /></a>
                            <p>코트<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_1"><img src="/assets/pants_1.jpg" alt="바지" width="66" height="84" /></a>
                            <p>바지<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_9"><img src="/assets/shortpants_1.jpg" alt="반바지" width="66" height="84" /></a>
                            <p>반바지<br /></p></div>
				  <div class="col-xs-6 col-md-3"><a href="/home/result_10"><img src="/assets/skirt_1.jpg" alt="치마" width="66" height="84" /></a>
                            <p>치마<br /></p></div>


			</div>
		</div>			
	</div>
		</div>
		<br><br><br><br><br><br>
			</div>	
		</div>			
	
	<hr>
	<div class="container" >
	<form class="well" action="/home/write" method="POST" enctype="multipart/form-data">
		<div  class="row" >
				<h2>코트</h2>
		  	<div class="col-xs-12 col-sm-6" align="center">
		  		<img class="img-responsive" src="/assets/coat.png" alt="코트" />
		    </div>
		  	<div class="col-xs-12 col-sm-6">
	  			<% if @result_8_size1.nil? %>
				<input type="hidden" name="item_val1" value="총장"><h4>1. 총장</h4>
				<input type="text" name="size_val1" value="<%= @result_8_size1 %>" size="10" required >cm
	  				
			
				<input type="hidden" name="item_val2" value="어깨너비"><h4>2. 어깨너비</h4> 
				<input type="text" name="size_val2" value="<%= @result_8_size2 %>" size="10" required>cm
	
				<input type="hidden" name="item_val3" value="가슴단면"><h4>3. 가슴단면</h4> 
				<input type="text" name="size_val3" value="<%= @result_8_size3 %>" size="10" required>cm
							

				<input type="hidden" name="item_val4" value="소매길이"><h4>4. 소매길이</h4> 
				<input type="text" name="size_val4" value="<%= @result_8_size4 %>" size="10" required>cm<br><br>
				<% else %>
				<input type="hidden" name="item_val1" value="총장"><h4>1. 총장</h4>
				<input type="text" name="size_val1" value="<%= @result_8_size1.round(1) %>" size="10" required >cm
	  				
			
				<input type="hidden" name="item_val2" value="어깨너비"><h4>2. 어깨너비</h4> 
				<input type="text" name="size_val2" value="<%= @result_8_size2.round(1) %>" size="10" required>cm
	
				<input type="hidden" name="item_val3" value="가슴단면"><h4>3. 가슴단면</h4> 
				<input type="text" name="size_val3" value="<%= @result_8_size3.round(1) %>" size="10" required>cm
							

				<input type="hidden" name="item_val4" value="소매길이"><h4>4. 소매길이</h4> 
				<input type="text" name="size_val4" value="<%= @result_8_size4.round(1) %>" size="10" required>cm<br><br>
				<% end %>
			</div>
		</div>
	</form>
	</div>
	
</body>
</html>