<!DOCTYPE html>
<html>
<head>
    <!--devise gem-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    
    <title>FITaylor</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link href="css/animate.min.css" rel="stylesheet"> 
	<link href="css/style.css" rel="stylesheet" />	
    <!-- =======================================================
        Theme Name: Day
        Theme URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->
  
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false%>
  <%= csrf_meta_tags %>
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-default navbar-static-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <div class="navbar-brand">
						<a href="/home/index"><h1>Fitaylor</h1></a>
					</div>
                </div>				
                <div class="navbar-collapse collapse">							
					<div class="menu">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation"><a href="/home/index" class="<%= is_active('home', 'index') %>">Home</a></li>
							<li role="presentation"><a href="/home/clothes" class="<%= is_active('home', 'clothes') %>">Clothes</a></li>
							<li role="presentation"><a href="/home/upload" class="<%= is_active('home', 'upload') %>">Upload</a></li>
							<li role="presentation"><a href="/home/gallery" class="<%= is_active('home', 'gallery') %>">Guide</a></li>
							<li role="presentation"><a href="/home/contact" class="<%= is_active('home', 'contact') %>">Mypage</a></li>
							<% if user_signed_in? %>
							  <li >
                            <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?" }%>
                              </li>
                            <% else %>
                               <li role="presentation"><%= link_to "login", new_user_session_path %></li>
                               <li role="presentation"><%= link_to "Sign up", new_user_registration_path %></li>
	                        <% end %>
						</ul>
						
					</div>
				</div>		
            </div><!--/.container-->
        </nav><!--/nav-->		
    </header><!--/header-->	
<%= yield %>
	<div class="sub-footer">
		<div class="container">
		<div class="container">
			<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
				<p>About JUHWAN PARK</p>
				<p>Endless Creation 26th</p>						
				<div class="contact-info">
					<ul>
						<li><i class="fa fa-home fa"></i>Seoultech, Mirae Hall(60) 313</li>
						<li><i class="fa fa-phone fa"></i> 010-2308-8100</li>
						<li><i class="fa fa-envelope fa"></i> dlaem@naver.com </li>
					</ul>
				</div>
			</div>
					
		</div>				
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="js/jquery.js"></script>		
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>	
	<script src="js/wow.min.js"></script>
	<script>wow = new WOW({}).init();</script>
</body>
</html>
